import React from 'react';
{{#if useCss}}

{{{includeStyles useCssModules cssExtension}}}
{{/if}}

type {{name}}Props = {

};

const {{name}} = (props: {{name}}Props) => {
  return (
    {{#if useCss}}
    <div className={{{className isCssModule cssClass}}}>
      {{name}} component
    </div>
    {{else}}
    <div>
      {{name}} component
    </div>
    {{/if}}
  );
};

export default {{name}};